[submodule "apache2"]
	path = apache2
	url = git://github.com/opscode-cookbooks/apache2.git
[submodule "mysql"]
	path = mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "subversion"]
	path = subversion
	url = git://github.com/opscode-cookbooks/subversion.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/opscode-cookbooks/zsh.git
